*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: blueviolet;
    display: flex;
    position: relative;
}
#main #text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: aliceblue;
    z-index: 10;
}
#main #left{
    height: 100%;
    width: 40%;
    background-color: rgb(101, 9, 24);
    position: relative;
}
#left nav{
    height: 10px;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    color: azure;
}
nav h4{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
}
nav a{
    text-decoration: none;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: azure;
}
#left #img{
    height: 320px;
    width: 200px;
background-color: white;    
position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-image: url(./Screenshot_2025-12-29_5.15.20_PM-removebg-preview.png);
    background-size: cover;
    background-position: center center;

}
#img #comment{
color: azure;
background-color: aqua;
font-size: 14px;
font-family: Arial, Helvetica, sans-serif;
width: 100%;
top: 100%;
position: absolute;
background-color: transparent;
display: flex;
}
#left #scroll{
    height: 10px;
    margin: 10px;
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 10px;
    top: 80%;
    position: absolute;
    transform-origin: 0% 50%;
    transform: rotate(-90deg);
}
#scroll h4{
    color: white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
#scroll .custom-line{
    height: 1px;
    width: 200px;
    background-color: aliceblue;


}
#main #center{
    height: 100%;
    width: 50%;
    background-color: rgb(101, 9, 24);
    background-image: url(./Screenshot_2025-12-29_5.37.38_PM-removebg-preview.png);
    background-size: cover;
background-position: center center;
position: relative;
}
#center #small{
    
    height: 20%;
    width: 30%;
    background-color: aliceblue;
    position: absolute;
    bottom:3%;
    right: -20%;
    transform: translate(-1%,-40%);
    background-image: url(./Screenshot_2025-12-29_7.53.28_PM-removebg-preview.png);
    background-size: cover;
    background-position: center center;
    z-index:999;
}
#small #icon{
    height: 100%;
    width: 20%;
    background-color: rgb(14, 100, 100);
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-around;
    

}

#icon i{
    font-size: 35px;
    color: rgb(247, 241, 241);
}
#main #right{
    height: 100%;
    width: 10%;
    background-color: rgb(101, 9, 24);
}

#right #rtext{
    width: 100%;
    height: 50px;
    position: absolute;
    background-color:transparent;
    display: flex;
    bottom:50%;
    left: 97%;
    transform-origin: 0% 50%;
    transform: rotate(-90deg);
    align-items: center;
}
#rtext p{
    top: 50%;
    color: aliceblue;
    font-size: 15px;
}
#right #icon2{
    width:25px;
    height: 25px;
    background-color: transparent;
    position: absolute;
    left: 97%;
}
#icon2 i{
    color: aliceblue;
    font-size: 25px;
}